.dashPlantCardContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: auto; 
    white-space: nowrap; 
    background-color: none !important;
}

.dashPlantCardContent img {
    width: 200px;
    height: 200px;
    margin: 0 15px;
    object-fit: cover;
    object-position: center;
}