
.dashPlantCardContainer {
    height: fit-content !important;
}

.dashPlantCardContent {
    display: flex;
    overflow-x: auto; 

}

.dashPlantCardContent img {
    margin-right: 1em;
    object-fit: cover;
    width: 70%;
    height: auto;
    max-height: 250px;
    border-radius: 1em;

}

