.dashPlantCardContainer {
    max-width: 60vw;
    padding: 12px;
    background-color: #D9D9D9;
    border-radius: 10px;
    overflow-x: auto;
    text-align: center;
}

.dashPlantCardContent {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    overflow-x: auto; 
    white-space: nowrap; 
    background-color: none !important;
}

.dashPlantCardContent img {
    width: 200px;
    height: 200px;
    margin: 0 15px;
    object-fit: cover;
    object-position: center;
}