.ant-menu:not(.ant-menu-horizontal) {
    font-size: 1.1em;
}

.ant-menu .ant-menu-item {
    margin: 1em 0;

}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: var(--main-green)!important;
    color: var(--accent-green) !important;
    font-weight: bold !important;
}

.ant-layout-sider-trigger {
    background-color: var(--accent-green) !important;
}

.ant-layout-sider-children {
    background-color: var(--off-white) !important;
    }

/* navbar img */
/* #navbar-img {
    display: block;
    margin: 0 auto; 
    width: 45%; 
    border-radius: 2em;
} */

#navbar-title-icon {
    font-family: "Pacifico", sans-serif !important;
    font-size: 2em;
    text-align: center;
    color: var(--accent-green);
    letter-spacing: 2px;
    text-shadow: 4px 4px 1px var(--background-green);
    margin-top: 1em;
    margin-bottom: 10px;
}

.ant-layout-sider-collapsed #navbar-img,
.ant-layout-sider-collapsed #navbar-title-icon {
    display: none;
}