#weather-title {
    text-align: left;
}

.weatherCard {
    display: flex;
    flex-direction: column;
}

.searchSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 70px;
}

.weather-location {
    margin-top: 1em;
    /* margin-left: 1em; */
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
}


.weatherResults p {
    margin: 0.3em;
    text-align: left;
    /* font-weight: 400;
    font-size: 14px; */
}

