#weather-title {
    text-align: left;
}

.weatherCard {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    padding-bottom: 1em;
    margin-top: var(--standard-top-margin);
    /* background-color: rgb(233, 220, 164); */
    /* background-color: var(--container-background); */
    background-color: var(--background-green);
    /* border: transparent; */
    border: var(--border);
}

.searchSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 70px;
}

.current-location-btn {
    margin: 0.5em 0;
}

.weather-location {
    margin-top: 1em;
    /* margin-left: 1em; */
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
}


.weatherResults p {
    margin: 0.3em;
    text-align: left;
    /* font-weight: 400;
    font-size: 14px; */
}

