.footer {
  margin: 1em 0;
  /* display: flex; */
  justify-content: center;
  padding: 1.1em;
  margin: 0;
  background-color: var(--accent-green);

}

.link {
  color: var(--accent-yellow);
  margin: 1em 1.2em ;
}

.link:hover {
  color: white;
  font-weight: 600;
}

.copy-right-text {
  align-self: flex-start;
  margin: 0;
  color: var(--accent-yellow);
  text-align: left;
}