.footer {
  margin: 1em 0;
  display: flex;
  justify-content: center;
}

.link {
  color: var(--accent-yellow);
  margin: 1em 1.2em ;
}

.link:hover {
  color: white;
  font-weight: 600;
}

.text {
  align-self: flex-start;
  margin: 0;
  color: var(--accent-yellow);
}