.search {
    width: 50vw;
}

/* .search .ant-btn {
    visibility: hidden;
} */

/* advanced filters */

.ant-collapse-header {
    margin: 0;
    padding: 0.3em !important;
}

/* drop down */
.ant-collapse-content-box {
    background-color: var(--off-white);
    margin: 0;
}

#advanced-search-options {
    display: inline;
}

.advanced-option {
    margin: 0 0.7em;
}