/* .search .ant-btn {
    visibility: hidden;
} */

/* advanced filters */

.ant-collapse-header {
    margin: 0;
    padding: 0.3em !important;
}

#advanced-search {
    /* width: 50% !important; */
}

/* drop down */
.ant-collapse {
    width: 40vw;
    height: 33px;
}

.ant-collapse-content {
    border-bottom: 1px solid var(--background-green);
}

.ant-collapse-content-box {
    background-color: var(--off-white);
    margin: 0;
    display: flex;

}

.ant-space-item {
    width: 250px;

}

#advanced-search-options {
    display: flex;
    flex-direction: column;
}

.advanced-option {
    margin: 0 0.7em;
}

.ant-select-selector {
    width: 150px !important;
    text-align: left;
}

#advanced-button {
    display: flex;
    justify-self: start;
    background-color: var(--background-green);
}
