/* define root colours here  */
:root {
    --black:  #212121;
    --light-grey:  #7b7a7a;
    --dark-grey: #1E1F1D;
    --off-white: #FAF9F6;
    --dark-green: #224722;
    --deep-green: #172C17;
    --accent-green: #3b9520;
    --light-yellow: #F2E6C3;
    --background-green: #E7EDDE;
    --container-background: #D5DFC6;
    --body-font: "Karla", sans-serif;
    
    /* fonts */
    --light-font: #E0FFC0;
    --secondary-text: #626E55;

    /* navbar */
    --nav-green: #D5DFC6;

    /* margins */
    --standard-top-margin: 1em;

    /* border colour */
    --border: solid 1px var(--dark-green);;
}

body {
    margin: 0;
    font-family: "Karla", sans-serif;
    font-weight: 300;
    color: var(--off-white);
    background-color: var(--background-green);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1  {
    margin: 0.3em 0;
    font-family: "Archivo", sans-serif;
    font-size: 3em;
    font-weight: 500;
    color: var(--dark-green) !important;
    
}

h2, h3, h4 {
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    color: var(--dark-green);
}

a {
    font-family: "Karla", sans-serif !important;

}

.divider {
    margin-bottom: 0;
}

/* DASHBOARD PAGE */

#dash-title {
    margin-left: 0.3em;
}

.vertical-divider {
    margin-top: 0;
    height: 100vh;
}

#dash-space {
    /* padding: 3em; */
}

#dashboard-container {
    flex-direction: column;
    margin: 0 1em;
    padding: 0;
    width: 100%;
}

/*EXPLORE PAGE*/

#explore-section {
    margin-top: 20%;
    margin-bottom: 50%;
}

.exploreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#explore-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#explore-search {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

#search-message {
    color: #626E55;
}

/* MY PLANTS PAGE */

.add-plant-btn-div .ant-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding: 1em; */
    background-color: var(--light-yellow) !important;
    border-radius: 3em;
    border: none;
    color: var(--dark-green);
    font-size: 1.3em !important;
    font-weight: 400 !important;
    width: 240px;
    height: 60px;
}

.add-plant-btn-div .ant-btn:hover {
    background-color: var(--dark-green) !important;
    border: none;
    color: var(--background-green) !important;
    font-size: 1.3em !important;
    font-weight: 400 !important;
}

.plus-sign {
    padding: 0 0.6em;
    padding-bottom: 0.1em;
    background-color: var(--dark-green) !important;
    border-radius: 1em;
    color: var(--background-green);
    font-size: 1.3em;
    font-weight: 400 !important;

}

.add-plant-text {
    margin-left: 0.6em;
}


/*WATER LOG PAGE*/
/* .mb-16 {
    margin-bottom: 16px !important;
} */

/* SETTINGS PAGE */
#settings-card {
    padding: 0.5em 1em;
    margin: 2em;
    background-color: var(--background-green);
    border: solid 1px var(--dark-green);
}

#current-location-btn {
    margin: 1.5em 0;
}