/* define root colours here  */
:root {
    /* --background-color: #0a6657; */
    --main-green: #13695b;
    --accent-yellow: #ffbb25;
    --accent-purple: #a4006b;
    --shadow-grey: #7a6a51;
    --off-white: #FAF9F6;
    --body-font: "Karla", sans-serif;
}

body {
    margin: 0;
    font-family: "Karla", sans-serif;
    font-weight: 300;
    color: #000001;
    background-color: var(--main-green);
    /* background-image: url(./assets/images/plant-bckg.jpg); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1  {
    font-family: "Montserrat", sans-serif;
    /* font-size: 2.5em; */
    color: var(--accent-yellow);
    
}

h2, h3, h4 {
    font-family: "Montserrat", sans-serif;
}

/* DASHBOARD PAGE */

#dash-header {
    margin: 0 1.5em;
}


#dashboard-container {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
}

/* MY PLANTS PAGE */
#my-plants-container .add-plant-button {
    background-color: var(--accent-yellow) !important;
}

#add-plant-btn-container .ant-btn span {
    background-color: var(--accent-yellow) !important;
    color: var(--main-green) !important;
    font-weight: bold;
}


/*WATER LOG PAGE*/
/* .mb-16 {
    margin-bottom: 16px !important;
} */

/*EXPLORE PAGE*/
.exploreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/* 
.exploreTitles h1 {
    font-size: 3em;
    font-weight: 500;
    padding-bottom: 20px;
    color: white;
    margin-bottom: 8px;
} */

.exploreTitles h2 {
    font-size: 1.75em;
    font-weight: 400;
    padding-bottom: 20px;
    color: white;
    margin-bottom: 20px;
}

#search-message {
    color: white;
    /* font-size: 1.5em; */
    font-weight: 400;
}