:root {
    --background-color: #235421;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #000001;
    background-color: var(--background-color);
}

h1  {
    color: white;
}

/* DASHBOARD PAGE */

/*WATER LOG PAGE*/
.mb-16 {
    margin-bottom: 16px !important;
}

/*EXPLORE PAGE*/
.exploreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
/* 
.exploreTitles h1 {
    font-size: 3em;
    font-weight: 500;
    padding-bottom: 20px;
    color: white;
    margin-bottom: 8px;
} */

.exploreTitles h2 {
    font-size: 1.75em;
    font-weight: 400;
    padding-bottom: 20px;
    color: white;
    margin-bottom: 20px;
}