/* define root colours here  */
:root {
    --black:  #212121;
    --light-grey:  #7b7a7a;
    --off-white: #FAF9F6;
    --accent-green: #86d170;
    --background-green: #daf1d3;
    --body-font: "Karla", sans-serif;
}

body {
    margin: 0;
    font-family: "Karla", sans-serif;
    font-weight: 300;
    color: var(--black);
    background-color: var(--off-white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1  {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: var(--black);
    
}

h2, h3, h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: var(--black);
}

.divider {
    margin-bottom: 0;
}

/* DASHBOARD PAGE */

#dash-title {
    margin-left: 0.3em;
}

.vertical-divider {
    margin-top: 0;
    height: 100%;
}

#dash-space {
    /* padding: 3em; */
}

#dashboard-container {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    margin: 0;
    max-width: 1200px;

}

/* MY PLANTS PAGE */
#my-plants-container .add-plant-button {
    background-color: var(--accent-yellow) !important;
}

#add-plant-btn-container .ant-btn span {
    background-color: var(--accent-yellow) !important;
    color: var(--main-green) !important;
    font-weight: bold;
}


/*WATER LOG PAGE*/
/* .mb-16 {
    margin-bottom: 16px !important;
} */

/*EXPLORE PAGE*/
.exploreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/* 
.exploreTitles h1 {
    font-size: 3em;
    font-weight: 500;
    padding-bottom: 20px;
    color: white;
    margin-bottom: 8px;
} */

.exploreTitles h2 {
    font-size: 1.75em;
    font-weight: 400;
    padding-bottom: 20px;
    color: white;
    margin-bottom: 20px;
}

#search-message {
    color: white;
    /* font-size: 1.5em; */
    font-weight: 400;
}