.task-list-sub-head {
    margin-bottom: 0.7em;
}

.inputSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ant-list {
    border: none;
}

.ant-list-item {
    display: inline !important;
    padding: 0 !important;
}

.list-item {
    margin: 1em 0;
}

.taskListContainer{
    height: 460px;
    
}